[Unit]
Description=P-Rep docker-compose.yml startup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot

User=icon
Group=icon

# Remove old containers, images and volumes
ExecStartPre=/usr/local/bin/docker-compose -f /home/icon/docker-compose.yml down -v
ExecStartPre=/usr/local//bin/docker-compose -f /home/icon/docker-compose.yml rm -fv
ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=icon_" | xargs docker volume rm'
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=icon_" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=icon_*" | xargs docker rm'

RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/home

ExecStart=/usr/local/bin/docker-compose -f /home/icon/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /home/icon/docker-compose.yml down

[Install]
WantedBy=multi-user.target