[Unit]
Description=P-Rep docker-compose.yml startup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot

User={{ admin_user }}
Group={{ admin_group }}

# Remove old containers, images and volumes
ExecStartPre=su /usr/local/bin/docker-compose -f /home/icon/docker-compose.yml down -v
ExecStartPre=-/usr/local/bin/docker-compose -f /home/icon/docker-compose.yml pull

RemainAfterExit=yes
StandardError=null
StandardOutput=null

ExecStart=/usr/local/bin/docker-compose -f /home/icon/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /home/icon/docker-compose.yml down

[Install]
WantedBy=multi-user.target